<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <connectionStrings>
   <!-- <add name="MySqlConnexion" connectionString="server=420.cstj.qc.ca;userid=La_crypte_de_la_creature;password=baseDeDonnees;database=5a5_a14_La_crypte_de_la_creature" /> -->
    
    <!-- <add name="MySqlConnexion" connectionString="server=localhost;userid=root;password=;database=5a5_a14_crypte" /> -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.La_crypte_de_la_creature">
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        Database=5a5_a14_crypte;Data Source=420.cstj.qc.ca;User Id=crypte;Password=5F4cgJRx8
      </property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    </session-factory>
  </hibernate-configuration>
</configuration>